html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
}

.button-create {
    height: auto;
    width: auto;
    max-width: max-content;
}

.create-content {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 20px;
    padding: 0 auto;
    border: solid;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border-width: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    background-color: #007bff;
}

.container {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.note-lists {
    width: 100%; /* Full width */
    padding: 0 20px; /* Optional padding on the sides */
    margin: 0; /* Remove any margin */
    justify-content: center;
}

.note-lists-buttons {
    width: 100%; /* Ensures the button stretches to full width of its parent */
    max-width: 95vw;
    padding: 15px;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    display: block;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.note-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.note-desc {
    font-size: 14px;
    color: #555;
}

hr {
    border: none;
    margin: 20px 0;
}
